.movieCredits{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    text-align: center;
    width: 12vw;
    height: 35vh;
    margin: 15px;
    border: 5px solid;
    border-image: linear-gradient(50deg, #6e146e, #e36fff) 1;
}

.image{
    width: 7vw;
    height: 19vh;
    border-radius: 20%;
    margin-bottom: -5px;
    filter: drop-shadow(-10px -10px 10px pink);

}

.mainCast{
    background-image: -webkit-linear-gradient(90deg, #d130ef 25%, #9c05c0 96%, #f7f5f6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    margin-top: 45px;
    margin-bottom: 5px;
    text-align: center;
}

.name{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.character{
    font-size: 20px;
    margin-bottom: -7px;
    color: #a30dc4;
}

p{
    font-size: 18px;
    margin: 2px;
    font-weight: bold;
}