.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 74%, rgba(173,110,192,1) 100%, rgba(0,212,255,1) 100%);
}

.navLinks {
    text-decoration: none;
    background-image: -webkit-linear-gradient(90deg, #d130ef 25%, #9c05c0 96%, #f7f5f6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}

.mode{
    width: 8vw;
    height: 8vh;
    padding: 16px 33px 16px 33px;
    border-radius: 36px;
    background: linear-gradient(98.88deg, #a142f3 -2.99%, #000000 102.28%),
    linear-gradient(0deg, #000000, #000000);
    color: #FFFFFF;
    text-transform:uppercase;
    text-align: center;
    margin-right: 10px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-offset: 4px;

}

.mode:hover{
    color: black;
    font-weight: bold;
    background: white;
    position: relative;
    bottom: 3px;
    right: 3px;
    cursor: pointer;
}

.user{
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.userPhoto{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 2px solid purple;
    margin-top: 45px;
    margin-right: 20px;
}


h5{
    margin-top: -10px;
    font-size: 25px;
}

.movieDB{
    background: -webkit-linear-gradient(#eee, #5c1a6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: bold;
}