body.light-mode{
    color: black;
    background: rgb(155,75,176);
    background: linear-gradient(90deg, rgba(155,75,176,0.7450629910167192) 32%, rgba(228,177,244,0.27727587617078087) 55%);
    margin: 0;
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bold;

}


body {
    color: lightgoldenrodyellow;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 27%, rgba(173,110,192,1) 100%, rgba(0,212,255,1) 100%);
    margin: 0;
    font-family: 'Nanum Pen Script', cursive;
}


